{% extends 'base.html' %} {% block content %} {% load static %}
<v-row no-gutters>
  <v-col class="col-12">
    <v-card max-height="150">
      <v-card-title
        class="hidden-sm-and-down font-weight-light display-4 text-no-wrap"
        >Game Database</v-card-title
      >
      <v-card-title
        class="hidden-md-and-up display-1 font-weight-light text-no-wrap"
        >Game Database</v-card-title
      >
    </v-card>
  </v-col>
</v-row>

<v-row>
  <v-col class="col-sm-3 pb-0">
    <v-card tile max-height="800">
      <div class="scroller">
        <v-list :disabled="isFading">
          <v-list-item-group color="primary">
            <v-list-item
              v-for="game in games"
              :key="game.id"
              class="clicker"
              v-on:click="pressed(),title = game.name, platform = game.platform_name, developer = game.developer, year = game.year, photo = game.photo"
            >
              <v-list-item-content>
                <v-list-item-title v-text="game.name"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </div>
      <span
        ><p class="text-center"><v-icon>keyboard_arrow_down</v-icon></p></span
      >
    </v-card>
  </v-col>

  <v-col class="col-sm-9">
    <v-card
      tile
      class="max-auto preview"
      max-width="800"
      min-height="520"
      :class="activated ? '':'hidden'"
    >
      <v-list-item>
        <v-list-item-avatar color="grey"> </v-list-item-avatar>
        <v-list-item-content
          :class="{'animated flipInX': isFading, 'not-fading': !isFading}"
        >
          <v-list-item-title class="headline">[[title]]</v-list-item-title>
          <v-list-item-subtitle
            >Released in
            <span class="black--text">[[year]]</span></v-list-item-subtitle
          >
          <v-list-item-subtitle
            >By
            <span class="black--text">[[developer]]</span></v-list-item-subtitle
          >
          <v-list-item-subtitle
            >For
            <span class="black--text">[[platform]]</span></v-list-item-subtitle
          >
        </v-list-item-content>
      </v-list-item>
      <v-img
        height="520"
        eager
        :src="photo ? photo : '{% static 'images/null.png' %}'"
        aspect-ration="1.7"
        class="preview-img"
        :class="{'animated fadeIn': isFading, 'not-fading': !isFading}"
      >
      </v-img>
    </v-card>
  </v-col>
</v-row>

{% endblock %}
